extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros imagenes", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus, nibh id venenatis malesuada, eros metus dictum dui, non pellentesque felis erat sed tellus. Sed euismod gravida magna, id cursus tellus posuere pretium. Etiam vitae mollis orci. Aliquam venenatis nibh at arcu pellentesque euismod. Proin eu nisl vitae ligula dictum gravida vitae non orci. Quisque sodales lorem sed libero interdum volutpat.

                p Cras et commodo nibh. Donec rutrum metus ut facilisis cursus. Quisque tincidunt nunc in lorem lacinia, ac imperdiet ante imperdiet. Suspendisse aliquet pretium tortor, at congue justo. Nam ut erat ut lacus porttitor consequat. Suspendisse sagittis, risus in luctus aliquet, purus est bibendum nulla, sit amet dapibus risus odio vehicula ligula. Aliquam tincidunt metus pharetra aliquet sagittis. Nunc eu mollis ex, eu vestibulum magna.

                p Nunc efficitur sit amet tortor at iaculis. Praesent at scelerisque libero. Integer elementum sem quis augue scelerisque ullamcorper. Vivamus eget placerat arcu, pellentesque aliquam enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus interdum tincidunt dictum. Aliquam egestas nisl non diam aliquet viverra.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p per inceptos himenaeos. Phasellus interdum tincidunt dictum. Aliquam egestas nisl non diam aliquet viverra.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p per inceptos himenaeos. Phasellus interdum tincidunt dictum. Aliquam egestas nisl non diam aliquet viverra.

                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p per inceptos himenaeos. Phasellus interdum tincidunt dictum. Aliquam egestas nisl non diam aliquet viverra.
